body {
    background-color: darkgrey;
    padding: 0;
    height: 100%;
}

.title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 60px;
}

.navbar {
    position: fixed;
    top: 0;
    height: 7vh;
    width: 100%;
    margin-bottom: 0;
}

.background {
    background-image: url("/static/img/background.jpg");
    background-size: cover;
    /*background-color: cadetblue;*/
    height: 100vh;
    width: 100%;
}

.main-window {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}

.padding-top {
    padding-top: 60px;
}

.centered {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-block {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-weight: bold;
}

.form {
    width: 60%;
    padding: 10px 10px;
    background-color: rgba(175, 185, 201, 0.5);
    border-radius: 15px;
}

.colored-row {
    background-color: lightcyan;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.colored-row:first-child {
    margin-top: 5px;
}

.colored-row:nth-child(2) {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.colored-row:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 5px;
}

.margins {
    margin-bottom: 2px;
    border-radius: 15px;
}

.hidden {
    display: none;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.card-list-head {
    justify-content: center;
}

.text-small {
    font-size: 10px;
}

.card-list {
    background-color: rgba(143, 140, 166, 0.5);
    width: 32%;
    margin-left: 1%;
    padding: 1%;
    height: 90%;
    border-radius: 3%;
}

.overflow {
    overflow-y: auto;
    overflow-x: hidden;
}

.overflow-80 {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-title {
    border-bottom: 1px cadetblue solid;
}

.block-12 {
    display: block;
    width: 100%;
}

.block-6 {
    display: block;
    width: 50%;
}

.trip {
    width: 60vh;
    padding: 10px 10px;
    margin: 5px;
    background-color: rgba(143, 140, 166, 0.5);
    border-radius: 15px;
    color: ghostwhite;
}

.transparent {
    background-color:transparent;
}
