<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Backlog</title>
</head>
<body>
<th:block th:include="templates :: navigation_bar"></th:block>
<div class="container background main-window">
    <div class="card-list overflow">
        <div class="card-list-head row">
            <h6>TO DO</h6>
        </div>
        <div class="card card-task">
            <div class="card-body">
                <div class="card-title row" th:each="trip : ${toDoList}">
                    <i class="fas fa-user col-2 offset-2"></i>
                    <h6 class="col-6" th:text="${trip.getPlace().getName()}"></h6>
                    <form class="col-2" th:action="@{/trip/make-in-progress}" th:method="post">
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <button type="submit" class="btn btn-light">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </form>
                    <span class="text-small" th:text="${trip.getStartDate()} + ' - ' + ${trip.getEndDate()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-list overflow">
        <div class="card-list-head row">
            <h6>IN PROGRESS</h6>
        </div>
        <div class="card card-task">
            <div class="card-body">
                <div class="card-title row" th:each="trip : ${inProgressList}">
                    <form class="col-2" th:action="@{/trip/make-to-do}" th:method="post">
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <button type="submit" class="btn btn-light">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </form>
                    <i class="fas fa-user col-2"></i>
                    <h6 class="col-6" th:text="${trip.getPlace().getName()}"></h6>
                    <form class="col-2" th:action="@{/trip/make-done}" th:method="post">
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <button type="submit" class="btn btn-light">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </form>
                    <span class="text-small" th:text="${trip.getStartDate()} + ' - ' + ${trip.getEndDate()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-list overflow">
        <div class="card-list-head row">
            <h6>DONE</h6>
        </div>
        <div class="card card-task">
            <div class="card-body">
                <div class="card-title row" th:each="trip : ${doneList}">
                    <form class="col-2" th:action="@{/trip/make-in-progress}" th:method="post">
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <button type="submit" class="btn btn-light">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </form>
                    <i class="fas fa-user col-2"></i>
                    <h6 class="col-6" th:text="${trip.getPlace().getName()}"></h6>
                    <span class="text-small" th:text="${trip.getStartDate()} + ' - ' + ${trip.getEndDate()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row block-12">
        <div class="col-6 offset-3">
            <form th:action="@{/trip/add}" th:method="post">
                <input class="form-control btn-block" type="submit" value="Add new">
            </form>
        </div>
    </div>

</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>