<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Dreams</title>
</head>
<body>
<th:block th:include="templates :: navigation_bar"></th:block>
<div class="container background main-window">

    <div class="card-list overflow">
        <div class="card-list-head row">
            <h6>TO DO</h6>
        </div>
        <div class="card card-task">
            <div class="card-body" th:each="trip : ${toDoList}">
                <div class="card-title row">
                    <i class="fas fa-user col-2 offset-2"></i>
                    <h6 class="col-6" th:text="${trip.getPlace().getName()}"></h6>
                    <span class="text-small" th:text="${trip.getStartDate()} + ' - ' + ${trip.getEndDate()}"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-list col-7">
        <div class="card-list-head row">
            <h6>Maybe something new?</h6>
        </div>

        <form th:action="@{/trip/dreams}" th:method="post">
            <div class="row">
                <div class="col-6">
                    <select class="form-control" id="input-place" name="place" th:value="${place}">
                        <option th:each="option : ${T(com.sda.security.model.Place).values()}"
                                th:value="${option}"
                                th:text="${option.getName()}"
                                th:selected="${option == place}">
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <input class="form-control btn-block" type="submit" value="Look for some great places here">
                </div>
            </div>
        </form>

        <div class="card-body overflow-80 m-2">
            <a class="badge badge-light btn-block " target="_blank" rel="noopener noreferrer"
               th:href="${'http://www.google.com/search?q=' + #strings.replace(point,' ','+')}"
               th:each="point : ${pointsList}">

                <div class="card-title row">
                    <h6 class="col-6" th:text="${point}"></h6>

                </div>
            </a>
        </div>
        <div class="row block-12">
            <div class="col-6 offset-3">
                <form th:action="@{/trip/add}" th:method="post">
                    <input type="text" th:value="${place}" name="place" hidden>
                    <input class="form-control btn-block" type="submit" value="This is my new dream!">
                </form>
            </div>
        </div>

    </div>
</div>


</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>