<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Trip Planner</title>
</head>
<body>
    <th:block th:include="templates :: navigation_bar"></th:block>
<div class="container main-window background">
    <div sec:authorize="!isAuthenticated()">
    <h2 class="title">Hello, maybe some adventure?</h2>
        <div class="centered-block">
        <form class="form" th:action="@{/login}" th:method="post">
            <div class="row">
                <div class="col-6">
                    <label for="input-email">Email:</label>
                </div>
                <div class="col-6">
                    <input class="form-control" id="input-email" name="username" required>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="input-password">Password:</label>
                </div>
                <div class="col-6">
                    <input class="form-control" type="password" id="input-password" name="password" required>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-8">
                    <input class="form-control" type="submit" value="Login">
                </div>
            </div>
        </form>
        </div>
        <form th:action="@{/user/register}" th:method="get">
            <div class="row">
                <div class="offset-2 col-8">
                    <input class="form-control" type="submit" value="Join us!">
                </div>
            </div>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()" class="title">
    <h2 class="row m-2">Make your travel dreams come true!</h2>
    <h2 class="row m-2">Like they are:</h2>
        <div class="row trip" th:each="trip : ${tripList}">
            <div class="col-4" th:text="${trip.getUser().getEmail()}"></div>
            <div class="col-4" th:text="${trip.getPlace().getName()}"></div>
            <div class="col-4" th:text="${trip.getStatus()}"></div>
        </div>
    </div>



</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>