<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Planner</title>
</head>
<body>
<th:block th:include="templates :: navigation_bar"></th:block>
<div class="container background main-window">

    <div class="card-list overflow">
        <form th:action="@{/trip/planner}" th:method="post">
            <div class="card-list-head row">
                <h6>IN PROGRESS</h6>
            </div>
            <div class="card card-task">
                <select multiple class="form-control" size="15" name="tripId" required>
                    <div class="card-body" th:each="singleTrip : ${inProgressList}">
                        <option class="card-title row" th:value="${singleTrip.getId()}"
                                th:selected="${singleTrip == trip}">
                            <i class="fas fa-user col-2 offset-2"></i>
                            <h6 class="col-6" th:text="${singleTrip.getPlace().getName()}"></h6>
                            <span class="text-small"
                                  th:text="${singleTrip.getStartDate()} + ' - ' + ${singleTrip.getEndDate()}"></span>
                        </option>
                    </div>

                </select>

            </div>

            <div class="row m-4">
                <input class="form-control btn-block" type="submit" name="info" value="Trip info">
            </div>

            <div class="card-list-head row">
                <h6>What's next to plan?</h6>
            </div>

            <div class="row">
                <div class="col-6">
                    <input class="form-control btn-block" type="submit" name="flightTo" value="Flight to">
                </div>
                <div class="col-6">
                    <input class="form-control btn-block" type="submit" name="flightBack" value="Flight back">
                </div>
            </div>
            <div class="row m-2">
                <div class="col-12">
                    <input class="form-control btn-block" type="submit" name="hotel" value="Hotel">
                </div>
            </div>
        </form>
    </div>


    <div class="card-list col-7 overflow">

        <!--TRIP INFO-->
        <div th:if="${trip} and ${pressedButton == 'info'}">
            <!--<h2 th:text="'trip id ' + ${trip.getId()}"></h2>-->
            <div class="card-body">
                <div class="card-title row">
                    <i class="fas fa-child col-2 offset-2 display-3"></i>
                    <h6 class="col-8 text-uppercase display-4" th:text="${trip.getPlace().getName()}"></h6>
                    <span class="text" th:text="${trip.getStartDate()} + ' - ' + ${trip.getEndDate()}"></span>
                    <div class="col-12 text text-right" th:text="${trip.getTotalPrice() + ' EUR'}"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h4>Flight to</h4>
                    </div>
                </div>
                <div class="card-title row">
                    <i class="fas fa-plane-departure col-2 offset-2"></i>
                    <h6 class="col-8 text-uppercase"
                        th:text="${trip.getFlightTo()} ? ${trip.getFlightTo()} : 'not planned yet'"></h6>
                    <div class="col-12 text text-right" th:text="${trip.getFlightTo()} ? ${trip.getFlightTo().getPrice() + ' EUR'}"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h4>Flight back</h4>
                    </div>
                </div>
                <div class="card-title row">
                    <i class="fas fa-plane-arrival col-2 offset-2"></i>
                    <h6 class="col-8 text-uppercase"
                        th:text="${trip.getFlightBack()} ? ${trip.getFlightBack()} : 'not planned yet'"></h6>
                    <div class="col-12 text text-right" th:text="${trip.getFlightBack()} ? ${trip.getFlightBack().getPrice() + ' EUR'}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Hotel</h4>
                </div>
            </div>
            <div class="card-title row">
                <i class="fas fa-hotel col-2 offset-2"></i>
                <h6 class="col-8 text-uppercase"
                    th:text="${trip.getHotel()} ? ${trip.getHotel()} : 'not planned yet'"></h6>
                <div class="col-12 text text-right" th:text="${trip.getHotel()} ? ${trip.getHotel().getPrice() + ' EUR'}"></div>
            </div>
        </div>


        <!--HOTEL SEARCH-->
        <div th:if="${pressedButton == 'hotel'}">
            <h2>hotel search</h2>
            <div th:if="${pressedButton == 'hotel'} and ${hotelList != null}">
                <h6 th:if="${hotelList.size() == 0}">No flights available</h6>
                <div class="card-body" th:each="hotel : ${hotelList}">
                    <h9 class="col-12" th:text="${hotel.getDescription()}"></h9>
                    <a class="alert-link alert-dark" target="_blank" rel="noopener noreferrer"
                       th:href="${'http://www.google.com/maps/place/' + hotel.getLatitude() + ',' + hotel.getLongitude()}">
                    <div class="card-title row text-center">
                    <i class="fas fa-hotel col-2"></i>
                    <h6 class="col-8" th:text="${hotel.getName()}"></h6>
                    <h7 class="col-12" th:text="${hotel.getAddress()}"></h7>
                    <h7 class="col-12" th:text="'price: ' + ${hotel.getPrice()} + ' EUR'"></h7>
                    </div>

                    </a>
                    <form class="col-12" th:action="@{/trip/hotel}" th:method="post">
                        <input type="text" th:value="${hotel.getName()}" name="name" hidden>
                        <input type="text" th:value="${hotel.getPrice()}" name="price" hidden>
                        <input type="text" th:value="${hotel.getAddress()}" name="address" hidden>
                        <input type="text" th:value="${hotel.getLatitude()}" name="latitude" hidden>
                        <input type="text" th:value="${hotel.getLongitude()}" name="longitude" hidden>
                        <input type="text" th:value="${hotel.getDescription()}" name="description" hidden>
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <input class="form-control btn-block" type="submit" value="Take it!">
                    </form>
                </div>
            </div>

        </div>

        <!--FLIGHT TO SEARCH-->
        <div th:if="${pressedButton == 'flightTo'} and ${flightList != null}">
            <h2>flight search</h2>
            <h6 th:if="${flightList.size() == 0}">No flights available</h6>
            <div class="card-body" th:each="flight : ${flightList}">
                <div class="card-title row text-center">
                    <i class="fas fa-plane-arrival col-2 offset-2"></i>
                    <h6 class="col-6" th:text="${flight.getDeparturePlace()} + ' - ' + ${flight.getArrivalPlace()}"></h6>
                    <h7 class="col-12" th:text="${flight.getDepartureTime()} + ' - ' + ${flight.getArrivalTime()}"></h7>
                    <h7 class="col-12" th:text="'price: ' + ${flight.getPrice()} + ' EUR'"></h7>
                    <h7 class="col-12" th:text="'number of changes: ' + ${flight.getNumberOfChanges()}"></h7>
                    <form class="col-12" th:action="@{/trip/flightTo}" th:method="post">
                        <input type="text" th:value="${flight.getDeparturePlace()}" name="departurePlace" hidden>
                        <input type="text" th:value="${flight.getDepartureTime()}" name="departureTime" hidden>
                        <input type="text" th:value="${flight.getArrivalPlace()}" name="arrivalPlace" hidden>
                        <input type="text" th:value="${flight.getArrivalTime()}" name="arrivalTime" hidden>
                        <input type="text" th:value="${flight.getPrice()}" name="price" hidden>
                        <input type="text" th:value="${flight.getNumberOfChanges()}" name="numberOfChanges" hidden>
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <input class="form-control btn-block" type="submit" value="Take it!">
                    </form>
                </div>
            </div>
        </div>

        <!--FLIGHT BACK SEARCH-->
        <div th:if="${pressedButton == 'flightBack'} and ${flightList != null}">
            <h2>flight search</h2>
            <h6 th:if="${flightList.size() == 0}">No flights available</h6>
            <div class="card-body" th:each="flight : ${flightList}">
                <div class="card-title row text-center">
                    <i class="fas fa-plane-arrival col-2 offset-2"></i>
                    <h6 class="col-6" th:text="${flight.getDeparturePlace()} + ' - ' + ${flight.getArrivalPlace()}"></h6>
                    <h7 class="col-12" th:text="${flight.getDepartureTime()} + ' - ' + ${flight.getArrivalTime()}"></h7>
                    <h7 class="col-12" th:text="'price: ' + ${flight.getPrice()} + ' EUR'"></h7>
                    <h7 class="col-12" th:text="'number of changes: ' + ${flight.getNumberOfChanges()}"></h7>
                    <form class="col-12" th:action="@{/trip/flightBack}" th:method="post">
                        <input type="text" th:value="${flight.getDeparturePlace()}" name="departurePlace" hidden>
                        <input type="text" th:value="${flight.getDepartureTime()}" name="departureTime" hidden>
                        <input type="text" th:value="${flight.getArrivalPlace()}" name="arrivalPlace" hidden>
                        <input type="text" th:value="${flight.getArrivalTime()}" name="arrivalTime" hidden>
                        <input type="text" th:value="${flight.getPrice()}" name="price" hidden>
                        <input type="text" th:value="${flight.getNumberOfChanges()}" name="numberOfChanges" hidden>
                        <input type="text" th:value="${trip.getId()}" name="tripId" hidden>
                        <input class="form-control btn-block" type="submit" value="Take it!">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>