<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Add new trip</title>
</head>
<body>
<th:block th:include="templates :: navigation_bar"></th:block>
<div class="container main-window centered background">
    <form class="form" th:action="@{/trip/save}" th:method="post" th:object="${newTrip}">
        <div class="row">
            <div class="col-12">
                <h2>Where you wanna go?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="input-place">Place:</label>
            </div>
            <div class="col-6">
                <select class="form-control" id="input-place" name="place" required th:field="*{place}">
                    <option th:each="place : ${T(com.sda.security.model.Place).values()}"
                            th:value="${place}"
                            th:text="${place.getName()}"
                    >
                    </option>

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="input-start-date">Start date:</label>
            </div>
            <div class="col-6">
                <input class="form-control" type="date" id="input-start-date" name="start-date" required th:field="*{startDate}">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="input-end-date">End date:</label>
            </div>
            <div class="col-6">
                <input class="form-control" type="date" id="input-end-date" name="end-date" required th:field="*{endDate}">
            </div>
        </div>

        <div class="row">
            <div class="offset-2 col-8">
                <input class="form-control" type="submit" value="Add">
            </div>
        </div>
    </form>
</div>
<th:block th:include="templates :: footer_scripts"></th:block>
</body>
</html>